body { 
    margin: 0;
    font-family: monospace;
    font-size: larger;
    background: black;
}


#star-info {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #aa0404;
    width: 20%;
    height: 120px;
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.slidecontainer {
    position: absolute;
    width: 15%; /* Width of the outside container */
    left: 0px; 
    color: white;
}
